- tasks = assign_tasks(project,task_list,sub_action)
.task_list_container
  %table.task_list{ :id => task_list_id(:with_main_tasks,project,task_list) }
    %thead
      %tr
        %th{:colspan => 4}
          = comments_count(task_list,:content)
          = drag_image
          = the_task_list_link(task_list)
    %tbody{ :id => task_list_id(:the_main_tasks,project,task_list) }
      = list_tasks(project,task_list,tasks,sub_action)

  - if task_list_editable?(task_list,current_user,sub_action) # new task
    .new_task
      = task_link(project,task_list)
      = task_form(project,task_list,task_list.new_task(current_user))