.task_list_container{ :id => task_list_id(nil,project,task_list) }
  %table.task_list{ :id => task_list_id(:with_main_tasks,project,task_list) }
    %thead
      %tr
        %th{:colspan => 4, :id => task_list_id(:header_index,project,task_list) }
          = task_list_index_header(project,task_list)
    %tbody{ :id => task_list_id(:the_main_tasks,project,task_list) }
      = list_tasks(task_list.tasks.unarchived)
  - if task_list_editable?(task_list,current_user)
    .new_task
      = task_link(project,task_list)
      = task_form(project,task_list,task_list.new_task(current_user))
      - if task_list.tasks.unarchived.empty? && task_list.tasks.archived.size > 0
        %span{ :id => task_list_id(:archive_link,project,task_list) }
          = "or"
          = link_to "archive this task list", ""
  %table.task_list_closed
    %tbody{ :id => task_list_id(:the_main_tasks,project,task_list) }
      = list_tasks(task_list.tasks.archived)      